node_modules
.DS_Store
placeholder/
uploads/

*.log
advanced-cache.php
backup-db/
backups/
blogs.dir/
cache/
upgrade/
languages/
uploads/
mu-plugins/
wp-cache-config.php

wp-content

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

/vendor/