/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./resources/styles/block-styles.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
/** 
* List Block styles 
*/
.is-style-check-mark-list {
  list-style-type: "✓";
}
.is-style-check-mark-list li {
  padding-inline-start: 0.5rem;
}
.is-style-check-mark-list li::marker {
  color: var(--wp--preset--color--primary);
}

.is-style-timeline-list {
  position: relative;
  --eee-tmln-blt-size: .5em;
}
.is-style-timeline-list li {
  position: relative;
  list-style: none;
  padding-block-end: 0.25rem;
}
.is-style-timeline-list li::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -1em;
  top: 0.5em;
  width: var(--eee-tmln-blt-size);
  height: var(--eee-tmln-blt-size);
  background-color: var(--wp--preset--color--primary);
  border-radius: 50%;
}
.is-style-timeline-list li::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: .85em; */
  /* left: -1.4em; */
  left: calc(4px - 1em);
  width: 1px;
  background-color: var(--wp--preset--color--contrast);
}
.is-style-timeline-list li:first-child::after {
  top: 1em;
}
.is-style-timeline-list li:last-child::after {
  bottom: calc(100% - 1em);
}

/**  
* Form Block Plugin styling 
*/
.form-block__element input:not([type=reset]):not([type=submit]),
.form-block__element textarea {
  border: 1px solid #949494;
  font-family: inherit;
  font-size: 1em;
}
.form-block__element input:not([type=checkbox]):not([type=radio]):not([type=reset]):not([type=submit]),
.form-block__element textarea {
  box-sizing: border-box;
  display: block;
  padding: calc(0.667em + 2px);
  width: 100%;
}
.form-block__element textarea {
  min-height: 12rem;
}
.form-block__element select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%2710%27 height=%2710%27 fill=%27currentColor%27><polygon points=%270,0 10,0 5,5%27/></svg>") no-repeat right calc(0.667em + 2px) top 56%;
  border: 1px solid #949494;
  border-radius: 0;
  font-size: 1em;
  line-height: 1.6;
  padding: calc(0.667em + 2px) calc(1.333em + 12px) calc(0.667em + 2px) calc(0.667em + 2px);
}
.form-block__element.is-type-checkbox input, .form-block__element.is-type-radio input {
  margin-top: 0.35em;
}
.form-block__element.is-type-checkbox .form-block__label, .form-block__element.is-type-radio .form-block__label {
  margin-left: 0.3em;
}

/** 
* Details-Summary Block styles
*/
.wp-block-details > *:not(summary) {
  margin-top: 0 !important;
}

.wp-block-details > summary {
  padding-block: 0.5rem;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.79, 0.14, 0.15, 0.86);
}

.wp-block-details > summary:hover {
  color: var(--wp--preset--color--secondary);
}

.wp-block-details > summary:focus-visible {
  color: var(--wp--preset--color--secondary);
  outline-color: var(--wp--preset--color--tertiary);
  outline-offset: 1px;
  outline-style: solid;
  outline-width: 2px;
}

/*# sourceMappingURL=block-styles.css.map*/